.form {
    margin-bottom: 30px;
}

.form__input {
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 0;
}

.btn {
    padding: 7px 10px;
    border-radius: 5px;
    border: 0;
    background-color: var(--accent-color);
    color: var(--text-primary-color);
    cursor: pointer;
}

.form__btn {
    padding: 10px 13px;
}

.btn:hover {
    background-color: var(--accent-color-light);
    box-shadow: 0 0 10px var(--accent-color-light);
}

@media screen and (max-width: 350px) {
    .form__input {
        margin-right: 10px;
        padding: 5px;
    }
    .form__btn {
        padding: 5px 7px;
    }
  }